* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
}

.calculator {
  background-color: #666;
  padding: 12px;
  border-radius: 12px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

#clear, .num, .operator, .calculate, .display {
  padding: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 4px;
}

.num, #clear {
  background-color: #ddd;
}

.operator {
  background-color: pink;
  border-color: pink;
}

.calculate {
  background-color: #e00;
  border-color: #e00;
}

.display {
  background-color: #eee;
  font-size: 24px;
  padding: 18px 12px;
  height: 24px;
  text-align: right;
}
